<div class="contenedor">

    <div class="corporativo">
        <h3>CORPORATIVO</h3>
        <div class="links">
            <a href="#">Sobre elpisito.com</a>
            <a href="#">Contactar</a>
            <a href="#">Mapa Web</a>
        </div>

    </div>


    <div class="secciones">

        <h3>SECCIONES</h3>
        <div class="links">
            <a href="#">Publica tu anuncio</a>
            <a href="#">Consultor hipoteca</a>
            <a href="#">Servicios</a>
        </div>



    </div>



</div>
