<div class="contenedor">
  <h1 class="cabecera-admin">Provincia</h1>

  <div class="contenedor-formulario">
    <form #form="ngForm" (ngSubmit)="add()" class="formulario">
      <div class="mb-3">
        <label for="provincia">PROVINCIA</label>
        <input
          id="provincia"
          type="text"
          name="provincia"
          required
          class="form-control"
          autocomplete="off"
          style="text-transform: uppercase"
          [(ngModel)]="provincia.nombre"
        />
      </div>

      <div class="contenedor-boton">
        <button
          type="submit"
          class="btn btn-md btn-primary"
          [disabled]="form.invalid"
        >
          ADD
        </button>
      </div>
    </form>
  </div>
</div>
