<div class="contenedor">

        <div class="contenedor-logo">

            <img class="logo" src="assets/img/el-pisito.svg" alt="Icono El Pisito">
            <span class="texto-logo">El Pisito</span>

        </div>

        <div class="contenedor-apps">

            
            <a class="boton-app" href="#">
                <i class="fa-brands fa-google-play icono-app"></i>
                <div class="textos-app">
                    <span class="disponible">DISPONIBLE EN</span>
                    <span class="texto-boton">Google Play</span>
                </div>         
            </a>


            <a class="boton-app" href="#">
                <i class="fa-brands fa-apple icono-app"></i>
                <div class="textos-app">
                    <span class="disponible">CONSÍGUELO EN</span>
                    <span class="texto-boton">App Store</span>
                </div>         
            </a>
       

        </div>


        <div class="contenedor-iconos">

            <a href="#"><i class="fa-brands fa-twitter"></i></a>
            <a href="#"><i class="fa-brands fa-youtube"></i></a>
            <a href="#"><i class="fa-brands fa-instagram"></i></a>
            <a href="#"><i class="fa-brands fa-facebook"></i></a>

        </div>




</div>
