<div class="contenedor">
  <h1 class="cabecera-admin">Listado de inmuebles</h1>

  <app-preloader *ngIf="!cargaCompletada"></app-preloader>

  <div class="table-responsive" *ngIf="cargaCompletada">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">TIPO</th>
          <th scope="col">OPERACIÓN</th>
          <th scope="col">DIRECCIÓN</th>
          <th class="centrar-portada" scope="col">PORTADA</th>
          <th class="centrar-activo" scope="col">ACTIVO</th>
          <th scope="col">EDITAR</th>
          <th scope="col">IMAGEN</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let dato of aDatos">
          <td scope="row">{{ dato.id }}</td>
          <td scope="row">{{ dato.tipo.nombre }}</td>
          <td scope="row">{{ dato.operacion }}</td>
          <td scope="row">{{ dato.direccionCompleta }}</td>
          <td
            [ngClass]="{
              activo: dato.portada == 1,
              inactivo: dato.portada == 0
            }"
          >
            ●
          </td>
          <td
            [ngClass]="{
              activo: dato.activo == 1,
              inactivo: dato.activo == 0
            }"
          >
            ●
          </td>
          <td>
            <button
              type="button"
              class="btn btn-success btn-sm"
              [routerLink]="['/edit-inmueble', dato.id]"
            >
              Editar
            </button>
          </td>
          <td>
            <button
              type="button"
              class="btn btn-primary btn-sm "
              [routerLink]="['/add-imagen', dato.id]"
            >
              +Imagen
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
