<div class="contenedor">

    <h1 class="cabecera-admin">Editar Población</h1>

    <app-preloader *ngIf="!cargaCompletada"></app-preloader>

    <div class="contenedor-formulario" *ngIf="cargaCompletada">

        <form  #form="ngForm" (ngSubmit)="edit()" class="formulario">

            <p class="id-tipo mb-3">ID: {{poblacion.id}} </p>

            <div class="mb-3">
                <label class="pe-2" for="activo">ACTIVO</label>
                <input id="activo" type="checkbox" name="activo" class="form-check-input" [(ngModel)]="poblacion.activo">
            </div>

            <div class="mb-3">
                <label for="nombre">POBLACIÓN*</label>
                <input id="nombre" type="text" name="nombre" required class="form-control" autocomplete="off" style="text-transform:uppercase" [(ngModel)]="poblacion.nombre">
            </div>


            <div class="mb-3">

                <label for="provincia">PROVINCIA*</label>
                <select name="provincia" id="provincia" class="form-select" required [(ngModel)]="poblacion.provincia.id">

                    <option [ngClass]="{'select-inactivo':provincia.activo == 0}" value="{{provincia.id}}" *ngFor="let provincia of aProvincias">{{provincia.nombre}}</option>

                </select>

            </div>


            <div class="contenedor-boton">

                <button type="submit" class="btn btn-md btn-primary" [disabled]="form.invalid">Modificar</button>

            </div>

        </form>



    </div>


</div>

