/* ================================================= */
/* FIRST MOBILE */
/* ================================================= */
.contenedor-no-imagen img {
  width: 100%;
  border-left: 1px #eeeeee solid;
  border-right: 1px #eeeeee solid;
  border-top: 1px #eeeeee solid;
  border-radius: 0.5rem 0.5rem 0 0;
}

.carousel-inner img {
  overflow:  hidden;
  border-radius: 0.5rem 0.5rem 0 0;
}

/* ================================================= */
/* MEDIA QUERIES */
/* ================================================= */

/* MAYOR O IGUAL DE 576PX (A PARTIR DE 575PX INCLUSIVE) - SMARTPHONES */
@media only screen and (min-width: 576px) {
}

/* MAYOR O IGUAL DE 768PX (A PARTIR DE 768PX INCLUSIVE) - SMARTPHONES GRANDES, TABLETS */
@media only screen and (min-width: 768px) {
  .contenedor-no-imagen img {
    width: 100%;
    border-left: 1px #eeeeee solid;
    border-bottom: 1px #eeeeee solid;
    border-top: 1px #eeeeee solid;
    border-radius: 0.5rem 0 0 0.5rem;
  }

  .carousel-inner img {
    border-radius: 0.5rem 0 0 0.5rem;
  }
}

/* MAYOR O IGUAL DE 992PX (A PARTIR DE 992PX INCLUSIVE) - PC PEQUEÑOS, LAPTOPS */
@media only screen and (min-width: 992px) {
}

/* MAYOR O IGUAL DE 1200PX (A PARTIR DE 1200PX INCLUSIVE) - PC GRANDES, TELEVISIONES */
@media only screen and (min-width: 1200px) {
}
