<article class="ficha">
    <div>
        <app-carousel-ficha></app-carousel-ficha>
    </div>
    <div class="datos-ficha">
        
        <h3 class="titular">Magnifico piso</h3>
        <p class="precio">125.000</p>
        <p class="poblacion">A Coruña</p>
    </div>
    <footer class="footer-ficha">

        <div>
            <i class="fa-solid fa-circle-info boton-info"></i>
        </div>


        <div class="iconos">

            <div>
                <span>3</span>
                <img src="assets/img/004-bathtub.svg" alt="Icono banho">
            </div>

            <div>
                <span>2</span>
                <img src="assets/img/017-bed.svg" alt="icono habitaciones">
            </div>

            <div>
                <span>5</span>
                <img src="assets/img/011-office building.svg" alt="icono altura">
            </div>

        </div>

    </footer>

</article>